<h1 class="heading"><strong>Product Posts By Date</strong></h1>

<div class="form-group">
    <label for="userName">Date</label>
    <input type="text" class="form-control" name="date" [(ngModel)]="date">
</div>

<div class="form-group">
    <button type="button" (click)="getPosts()">Get Posts</button>
</div>

<div *ngIf="loading">Loading posts...</div>

<div *ngIf="errorMessage" class="alert alert-warning">
    <strong>Warning!</strong> {{errorMessage}}
</div>

<div class='table-responsive'>
    <table class='table'>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
</thead>
<tbody>
    <tr app-component-post *ngFor="let edge of postsData?.posts?.edges" [post]="edge.node">
    </tr>
</tbody>
</table>
</div>