<h1 class="heading"><strong>Product Posts By Date</strong></h1>

<app-component-datepicker [callback]="callback"></app-component-datepicker>

<div *ngIf="loading">Loading posts...</div>

<div *ngIf="errorMessage" class="alert alert-warning">
    <strong>Warning!</strong> {{errorMessage}}
</div>

<div class='table-responsive'>
    <table class='table'>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>URL</th>
        <th>Website</th>
    </tr>
</thead>
<tbody>
    <tr app-component-post *ngFor="let edge of postsData?.posts?.edges" [post]="edge.node">
    </tr>
</tbody>
</table>
</div>