<h2>test works!</h2>

<p>Welcome, {{userName}} (this is a template expression with {{"{{}}"}} interpolation syntax)</p>

<h1 [innerText]="title"></h1>
<button [disabled]="isDisabled">I am disabled</button>

<button [attr.aria-label]="closeLabel" (click)="closeMe()">X {{ parentMessage }}</button>

<h2>2-way binding example</h2>
<input type="text" name="example1" [value]="text1" (input)="text1=$any($event.target).value">
<p> You entered {{text1}}</p>
<button (click)="clearText1()">Clear</button>

<h2>2-way biding with ngModel directive</h2>
<input type="text" name="example2" [(ngModel)]="text2">
<p> You entered {{text2}}</p>
<button (click)="clearText2()">Clear</button>

<h2>listening to count component event</h2>
<app-test-counter (countChange)="onCounterChanged($event)"></app-test-counter>
<div>{{ updatedCounter }}</div>